* {
	box-sizing: border-box;
}
form {
	display: flex;
	flex-wrap: wrap;
}
.form-row {
	width: 150px;
	height: 80px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.form-input input {
	width: 100%;
}

.form-label {
	line-height: 2;
	text-align: center;
}
.form-input input {
	width: 100%;
	padding: 5px;
	outline: none;
	color: #444;
}
