[
  {
    "id": "2bf83506-ed83-4983-aac8-b988a81cacce",
    "name": "Rewrite",
    "items": [
      {
        "id": "93c00825-1ad9-4b10-a9b3-9bb2c7a175f1",
        "name": "queryStatisticData",
        "method": "",
        "url": "https://agentseller-us.temu.com/bg/swift/api/common/statistics/queryStatisticData",
        "wildcard": true,
        "action": {
          "type": 2,
          "code": 200,
          "headers": [
            {
              "key": "Date",
              "value": "Mon, 26 Jan 2026 07:02:08 GMT"
            }
          ],
          "body": {
            "type": 1,
            "payload": "{\n  \"success\": true,\n  \"errorCode\": 1000000,\n  \"errorMsg\": null,\n  \"result\": {\n    \"mallCwFFlStats\": {\n      \"isCwUsed\": false,\n      \"shpIntmRate\": 0.6,\n      \"dlvryIntmRate\": 0.6,\n      \"cwShpIntmRate\": 1,\n      \"cwDlvryIntmRate\": 2,\n      \"cwShpIntmRatePredIncr\": 0.8106,\n      \"cwDlvryIntmRatePredIncr\": 0.9381\n    },\n    \"mallSaleInfo\": {\n      \"todaySaleNum\": 1,\n      \"last7dSaleNum\": 2,\n      \"last30dSaleNum\": 3\n    },\n    \"afterSaleCountVO\": {\n      \"cancelOrderUnprocessedCount\": 0,\n      \"returnRefundUnprocessedCount\": 0\n    },\n    \"onSaleSpuQty\": 0,\n    \"numOfUnshipped\": 0,\n    \"numOfUnshippedY2\": 1,\n    \"semiMallRiskLevel\": 2,\n    \"todaySaleNum\": 0,\n    \"last7dSaleNum\": 0,\n    \"last30dSaleNum\": 0\n  }\n}"
          },
          "statusLineEnabled": false,
          "headersEnabled": false,
          "bodyEnabled": true
        },
        "isEnabled": true
      },
      {
        "id": "5e7c9398-07b6-417f-858e-9e66103502dd",
        "name": "total",
        "method": "",
        "url": "https://agentseller-us.temu.com/api/home/total",
        "wildcard": true,
        "action": {
          "type": 2,
          "code": 200,
          "headers": [
            {
              "key": "Date",
              "value": "Mon, 26 Jan 2026 07:07:55 GMT"
            }
          ],
          "body": {
            "type": 1,
            "payload": "{\n  \"success\": true,\n  \"errorCode\": 1000000,\n  \"errorMsg\": null,\n  \"result\": {\n    \"sellOutNum\": 111,\n    \"sellOutProdSkuList\": 222,\n    \"sellOutAlarmNum\": 333,\n    \"sellOutAlarmProdSkuList\": 444,\n    \"soonSellOutNum\": 555,\n    \"soonSellOutProdSkuList\": 666,\n    \"avlbDays\": 777,\n    \"sellOutLossGmvRatio\": 11,\n    \"sellOutLossGmvRatioCompLast\": 22,\n    \"sellOutLossGmvRatioCompLast7\": 33,\n    \"sellOutLossGmvUpdateAt\": 444,\n    \"todaySaleNum\": 333333,\n    \"last7dSaleNum\": 111111,\n    \"last30dSaleNum\": 222111\n  }\n}"
          },
          "statusLineEnabled": false,
          "headersEnabled": false,
          "bodyEnabled": true
        },
        "isEnabled": true
      }
    ],
    "collapsed": false
  }
]