[
  {
    "id": "2bf83506-ed83-4983-aac8-b988a81cacce",
    "name": "美国区域",
    "items": [
      {
        "id": "93c00825-1ad9-4b10-a9b3-9bb2c7a175f1",
        "name": "美国数据面板",
        "method": "",
        "url": "https://agentseller-us.temu.com/bg/swift/api/common/statistics/queryStatisticData",
        "wildcard": true,
        "action": {
          "type": 2,
          "code": 200,
          "headers": [
            {
              "key": "Date",
              "value": "Mon, 26 Jan 2026 07:02:08 GMT"
            }
          ],
          "body": {
            "type": 1,
            "payload": "{\n  \"success\": true,\n  \"errorCode\": 1000000,\n  \"errorMsg\": null,\n  \"result\": {\n    \"mallCwFFlStats\": {\n      \"isCwUsed\": false,\n      \"shpIntmRate\": 0.9,\n      \"dlvryIntmRate\": 0.9,\n      \"cwShpIntmRate\": null,\n      \"cwDlvryIntmRate\": null,\n      \"cwShpIntmRatePredIncr\": 0.8083,\n      \"cwDlvryIntmRatePredIncr\": 0.9385\n    },\n    \"mallSaleInfo\": {\n      \"todaySaleNum\": 154020,\n      \"last7dSaleNum\": 154020,\n      \"last30dSaleNum\": 154020\n    },\n    \"afterSaleCountVO\": {\n      \"cancelOrderUnprocessedCount\": 154020,\n      \"returnRefundUnprocessedCount\": 154020\n    },\n    \"onSaleSpuQty\": 154020,\n    \"numOfUnshipped\": 51314,\n    \"numOfUnshippedY2\": null,\n    \"semiMallRiskLevel\": null\n  }\n}"
          },
          "statusLineEnabled": false,
          "headersEnabled": false,
          "bodyEnabled": true
        },
        "isEnabled": true
      },
      {
        "id": "5e7c9398-07b6-417f-858e-9e66103502dd",
        "name": "美国销量",
        "method": "",
        "url": "https://agentseller-us.temu.com/api/home/total",
        "wildcard": true,
        "action": {
          "type": 2,
          "code": 200,
          "headers": [
            {
              "key": "Date",
              "value": "Mon, 26 Jan 2026 07:07:55 GMT"
            }
          ],
          "body": {
            "type": 1,
            "payload": "{\n  \"success\": true,\n  \"errorCode\": 1000000,\n  \"errorMsg\": null,\n  \"result\": {\n    \"sellOutNum\": 111,\n    \"sellOutProdSkuList\": 222,\n    \"sellOutAlarmNum\": 333,\n    \"sellOutAlarmProdSkuList\": 444,\n    \"soonSellOutNum\": 555,\n    \"soonSellOutProdSkuList\": 666,\n    \"avlbDays\": 777,\n    \"sellOutLossGmvRatio\": 11,\n    \"sellOutLossGmvRatioCompLast\": 22,\n    \"sellOutLossGmvRatioCompLast7\": 33,\n    \"sellOutLossGmvUpdateAt\": 444,\n    \"todaySaleNum\": 9999,\n    \"last7dSaleNum\": 9999,\n    \"last30dSaleNum\": 9999}\n}"
          },
          "statusLineEnabled": false,
          "headersEnabled": false,
          "bodyEnabled": true
        },
        "isEnabled": true
      }
    ],
    "collapsed": false
  },
  {
    "id": "df62bc0d-123a-4dd4-aafd-042792a3f744",
    "name": "全球区域",
    "items": [
      {
        "id": "4b97721c-4c51-4227-bd1f-71fa90fe3915",
        "name": "全球昨日流量",
        "method": "",
        "url": "https://agentseller.temu.com/bg-brando-agent-seller/supplier/querySupplierFlowInfo",
        "wildcard": true,
        "action": {
          "type": 2,
          "code": 200,
          "headers": [
            {
              "key": "Date",
              "value": "Tue, 27 Jan 2026 02:24:38 GMT"
            }
          ],
          "body": {
            "type": 1,
            "payload": "{\n  \"success\": true,\n  \"errorCode\": 1000000,\n  \"errorMsg\": null,\n  \"result\": {\n    \"statisticsDate\": \"2026-02-10\",\n    \"goodsVisitorsUserNum\": 1680,\n    \"goodsViewsUserNum\": 3386,\n    \"cartCrtUserNum\": 5091,\n    \"favCrtUserNum\": 6811,\n    \"businessDetailPaymentUserNum\": 8515,\n    \"fullPaymentUserNum\": 10218\n  }\n}"
          },
          "statusLineEnabled": false,
          "headersEnabled": false,
          "bodyEnabled": true
        },
        "isEnabled": true
      },
      {
        "id": "6cd536dc-7ee5-4510-a391-7036fdd31a73",
        "name": "全球统计",
        "method": "",
        "url": "https://agentseller.temu.com/bg/swift/api/common/statistics/queryStatisticData",
        "wildcard": true,
        "action": {
          "type": 2,
          "code": 200,
          "headers": [
            {
              "key": "Date",
              "value": "Tue, 27 Jan 2026 03:00:44 GMT"
            }
          ],
          "body": {
            "type": 1,
            "payload": "{\n  \"success\": true,\n  \"errorCode\": 1000000,\n  \"errorMsg\": null,\n  \"result\": {\n    \"mallCwFFlStats\": null,\n    \"mallSaleInfo\": {\n      \"todaySaleNum\": 1711862,\n      \"last7dSaleNum\": 855909,\n      \"last30dSaleNum\": 1198282\n    },\n    \"afterSaleCountVO\": {\n      \"cancelOrderUnprocessedCount\": 148,\n      \"returnRefundUnprocessedCount\": 312\n    },\n    \"onSaleSpuQty\": null,\n    \"numOfUnshipped\": 0,\n    \"numOfUnshippedY2\": 0,\n    \"semiMallRiskLevel\": null\n  }\n}"
          },
          "statusLineEnabled": false,
          "headersEnabled": false,
          "bodyEnabled": true
        },
        "isEnabled": true
      },
      {
        "id": "5ab5e349-cd8c-4967-9980-ad0d47b22940",
        "name": "全球商品上新状态",
        "method": "",
        "url": "https://agentseller.temu.com/api/kiana/mms/robin/queryProductStatusCount",
        "wildcard": true,
        "action": {
          "type": 2,
          "code": 200,
          "headers": [
            {
              "key": "Date",
              "value": "Tue, 27 Jan 2026 03:09:38 GMT"
            }
          ],
          "body": {
            "type": 1,
            "payload": "{\n    \"result\": {\n        \"productSkcStatusAggregation\": [\n            {\n                \"selectStatus\": 9,\n                \"count\": 111111\n            },\n            {\n                \"selectStatus\": 10,\n                \"count\": 222222\n            },\n            {\n                \"selectStatus\": 12,\n                \"count\": 333333\n            },\n            {\n                \"selectStatus\": 13,\n                \"count\": 4444444\n            }\n        ]\n    },\n    \"success\": true,\n    \"errorCode\": 1000000,\n    \"errorMsg\": null\n}"
          },
          "statusLineEnabled": false,
          "headersEnabled": false,
          "bodyEnabled": true
        },
        "isEnabled": true
      },
      {
        "id": "3ff19ce9-e0ca-416f-a56a-c1c07c24c4ba",
        "name": "全球数据面板",
        "method": "",
        "url": "https://agentseller.temu.com/gambit/api/venom/index/statistics/web/queryStatisticDataSupplier",
        "wildcard": true,
        "action": {
          "type": 2,
          "code": 200,
          "headers": [
            {
              "key": "Date",
              "value": "Tue, 27 Jan 2026 02:41:25 GMT"
            }
          ],
          "body": {
            "type": 1,
            "payload": "{\n  \"success\": true,\n  \"errorCode\": 1000000,\n  \"errorMsg\": null,\n  \"result\": {\n    \"onSaleProductNumber\": 15354,\n    \"saleVolume\": 0,\n    \"sevenDaysSaleVolume\": 999,\n    \"thirtyDaysSaleVolume\": 11,\n    \"qualityRefundRate90d\": 0.98,\n    \"numOfUnshipped\": 333,\n    \"soldOutSkuVolume\": 6811,\n    \"soldOutProductSkuIdList\": [],\n    \"soonSoldOutSkuVolume\": 555,\n    \"soonSoldOutProductSkuIdList\": [],\n    \"stockAvailableDays\": 15354,\n    \"soldOutGmvRatio\": {\n      \"todayValue\": 0.9,\n      \"compLastDayRatio\": 999,\n      \"compLastWeekRatio\": 999,\n      \"dataUpdateTime\": 1669270400000\n    }\n  }\n}"
          },
          "statusLineEnabled": false,
          "headersEnabled": false,
          "bodyEnabled": true
        },
        "isEnabled": true
      }
    ],
    "collapsed": false
  }
]