* {
	box-sizing: border-box;
}
form {
	display: flex;
	flex-wrap: wrap;
}
.form-row {
	width: 200px;
	height: 50px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.form-label {
	text-align: center;
}
.form-input input {
	width: 100%;
	height: 30px;
	padding: 0 5px;
	outline: none;
	color: #f700ff;
	font-weight: bold;
}

.submit_section {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
.submit_section button {
	padding: 10px 30px;
	cursor: pointer;
}
